@(person: Form[CreatePersonForm])(len: Int)(implicit messages: Messages)

@import helper._

@main("Welcome to Play") {
	<ul id="persons"></ul>

    <div align="center">
        <p><b>People Database</b></p>
        <br><br><br>
        Number of People: @len
        <br><br>

        @form(routes.PersonController.addPerson()) {
            @inputText(person("Name"))
            @inputText(person("Age"))
            @inputText(person("Details"))

            <div class="buttons">
                <input type="submit" value="Add Person"/>
            </div>
        }

        @form(routes.PersonController.graphIt()) {
            <div class="buttons">
                <input type="submit" value="Graph It"/>
            </div>
        }

        @form(routes.PersonController.descPersons()) {
            <div class="buttons">
                <input type="submit" value="View JSON"/>
            </div>
        }

        @form(routes.PersonController.inputJSON()) {
            <div class="buttons">
                <input type="submit" value="Input JSON"/>
            </div>
        }

        @form(routes.PersonController.resetAll()) {
            <div class="buttons">
                <input type="submit" value="CLEAR ALL"/>
            </div>
        }
    </div>
}
